build/
*.aux
*.auxlock
*.bbl
*.bcf
*.blg
*.cb
*.cb2
*.dvi
*.fdb_latexmk
*.fls
*.fmt
*.fot
*.idx
*.ilg
*.ind
*.loa
*.log
*.lol
*.lot
*.nav
*.nlo
*.nls
*.nlg
*.out
*.pdfsync
*.ptc
*.pyg
*.run.xml
*.snm
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.tdo
*.thm
*.toc
*.vrb
*.xdv
*.xdy
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.acn
*.acr
*.alg
*.bbl-SAVE-ERROR
*.backup
*.bak
*.tmp
*.temp
*.swp
*.swo
*.lof
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/
.history/
